version: "3.9"

services:
  backend:
    build: ./backend
    container_name: xplayverse-backend
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: xplayverse-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
